@using Planscam.Extensions
@model TrackIndexViewModel

@{
    ViewBag.Title = $"{Model.Track.Author!.Name} - {Model.Track.Name}";
    Layout = "";
}

@Html.DrawHugeTrackPic(Model.Track.Picture)
@Html.DisplayFor(model => model.Track)
@Html.DisplayFor(model => model.Track.Author)

@if (Model.NotAddedPlaylists.Count > 0)
{
    @using (Html.BeginForm("AddTrackToPlaylist", "Playlists", FormMethod.Post))
    {
        @Html.HiddenForReturnUrl(Context)
        <input type="hidden" name="trackId" value="@Model.Track.Id"/>
        <select name="playlistId">
            @foreach (var playlist in Model.NotAddedPlaylists)
            {
                <option value="@playlist.Id">@playlist.Name</option>
            }
        </select>
        <input type="submit" value="add track to playlist"/>
    }
}