@using Planscam.Extensions
@model List<Planscam.Entities.Playlist>

@{
    Layout = "";
}

Add to playlist:

<div class="addPlaylistsContainer">
    <div class="addPlaylists">
        @foreach (var playlist in Model)
        {
            <div class="addPlaylistElement">
                @Html.DrawSmallPlaylistPic(playlist.Picture, "addPlaylistImg")
                <span onclick="loadPage(@($"Playlists/Index/{playlist.Id}")" style="cursor: pointer;">@playlist.Name</span>
                <i id="addButton@(playlist.Id)" inPlaylist=false; onclick="addToPlaylist(@playlist.Id)" class="button fi fi-rr-plus"></i>

                
                <i id="addButton@(playlist.Id)" inPlaylist=true; onclick="addToPlaylist(@playlist.Id)" class="button fi fi-rr-checked"></i>
            </div>
        }
    </div>
</div>
<a onclick="loadPage('Playlists/Create')" class="addBtnLink">Create new playlist</a>