@using Planscam.Extensions
@using Planscam.FsServices
@{
    var authenticated = User.Identity?.IsAuthenticated ?? false;
}
@inject PlaylistsRepo PlaylistsRepo
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mansur and 1 father who went for bread 19 years ago</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="~/css/layout.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
</head>

<body>
    <div class="background"></div>
    <div class="body">
        <div class="layoutGrid">
            <div class="menu">
                <div class="logo">
                    <img style="border-radius: 50%;" src="~/img/logo.png" alt="logo" width="35px" height="35px">
                    <span class="logospan color2 textglow2">PLANSCAM</span>
                </div>
                <div class="line glowing2 bcolor2" style="margin-bottom: 15px;">⠀</div>
                <a class="menuElement" asp-controller="Home" asp-action="Index">
                    <i class="fi fi-rr-home"></i>
                    Home
                </a>
                <a class="menuElement" asp-controller="Tracks" asp-action="Search">
                    <i class="fi fi-rr-search"></i>
                    Search
                </a>
                <a class="menuElement" asp-controller="Authors" asp-action="Search">
                    <i class="fi fi-rr-search"></i>
                    Search authors
                </a>
                <a class="menuElement" asp-controller="Playlists" asp-action="Liked">
                    <i class="fi fi-rr-indent"></i>
                    My libary
                </a>
                <div class="line glowing2 bcolor2" style="margin: 15px 0;">⠀</div>
                <a class="menuElement" asp-controller="Studio" asp-action="Index">
                    <i class="fi fi-rr-plus"></i>
                    Studio
                </a>
                <a class="menuElement" asp-controller="Playlists" asp-action="Create">
                    <i class="fi fi-rr-plus"></i>
                    Create Playlist
                </a>
                <a class="menuElement" asp-controller="Playlists" asp-action="FavoriteTracks">
                    <i class="fi fi-rr-grin-hearts"></i>
                    Favorite
                </a>
                <div class="line glowing2 bcolor1" style="margin: 15px 0;">⠀</div>
                <a class="menuElement" asp-controller="Profile" asp-action="Index">
                    <i class="fi fi-rr-user"></i>
                    Profile
                </a>
                @if (authenticated)
                {
                    @using (Html.BeginForm("Logoff", "Auth"))
                    {
                        <button type="submit">Logoff</button>
                    }
                }
                <span class="headline">
                    Your Playlists
                </span>
                @if (authenticated)
                {
                    <div class="menuPlaylistsContainer">
                        <div class="menuPlaylists">
                            @foreach (var playlist in await PlaylistsRepo.GetLikedPlaylists(User))
                            {
                                <a class="menuPlaylistElement" asp-controller="Playlists" asp-action="Index"
                            asp-route-id="@playlist.Id">
                                    @Html.DrawSmallPlaylistPic(playlist.Picture, "menuPlaylistImg")
                                    @playlist.Name
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="pageContainer">
                <div id="page" class="page">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="playerContainer">
            @await Html.PartialAsync("~/Views/Shared/Player.cshtml")
        </div>
    </div>
</body>
@await RenderSectionAsync("Scripts", required: false)
<script src="~/jsFiles/navigator.js"></script>
</html>