@using Planscam.Extensions
@model Planscam.Entities.Playlist

@{
    Layout = "";
}

<div class="trackList">
    @foreach (var track in Model.Tracks)
    {
        <div class="track">
            <div class="trackInfo" onclick="loadPage('@($"/Tracks/Index/{track.Id}')")" style="cursor: pointer;">
                @Html.DrawSmallPlaylistPic(@track.Picture, "trackListImage")
                <div class="trackSpans">
                    <span style="font-weight: 600; font-size: 18px;">@track.Author.Name</span>
                    <span style="font-weight: 300; font-size: 15px;">@track.Name</span>
                </div>
            </div>
            <i onclick="removeTrackFromPlaylist(@Model.Id,@track.Id)" class="trackListButton fi fi-rr-cross"></i>/////
        </div>
    }
</div>